body {
    background-color: #CCCCFF;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

textarea {
    width: 90%;
    display: block;
    margin: auto;
    height: 400px;    
    font-size: 12pt;
    font-family: monospace;  
      
}

fieldset {
    display: inline-block;
    border: 5px solid black;
    text-align: center;    
}

.fields {
    width: fit-content;
    margin: auto;
}

.footer a {
    display: block;
    opacity: 70%;
    text-align: right;
}

.footer {
    width: fit-content;
    float: right;
}